section.page.registersection
  h1 Registration
  form
    p
      label(data-hook='name-label')
      input(type='text', data-hook='name', tabindex=1, autofocus)
      span(data-hook='name-error')

    p
      label(data-hook='gender-label')
      select(data-hook='gender',tabindex=2)

    p
      label(data-hook='email-label')
      input(type='text', data-hook='email', tabindex=3)
      span(data-hook='email-error')

    p
      label(data-hook='mobile-label')
      input(type='text', data-hook='mobile', tabindex=4)
      span(data-hook='mobile-error')

    div(data-hook='address-container')
      span(style="display: none")
        +address

    p
      input(type='submit', data-hook='registerbutton', value='Register', tabindex=7) 

    p
      span(data-hook='model-error')


mixin address
  div(style='border-style: solid') 
    p
      label(data-hook='line1-label')
      input(type='text', data-hook='line1',tabindex=5)
      span(data-hook='line1-error')

    p
      label(data-hook='line2-label')
      input(type='text', data-hook='line2',tabindex=6)
      span(data-hook='line2-error')

    p
      label(data-hook='city-label')
      input(type='text', data-hook='city',tabindex=7)
      span(data-hook='city-error')

    p
      label(data-hook='pin-label')
      input(type='text', data-hook='pin',tabindex=8)
      span(data-hook='pin-error')

    p
      label(data-hook='state-label')
      input(type='text', data-hook='state',tabindex=9)
      span(data-hook='state-error')

    p
      label(data-hook='country-label')
      input(type='text', data-hook='country',tabindex=10)
      span(data-hook='country-error')

