body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Basic App
      ul.nav.navbar-nav
        li
          a(href="/") home
        li
          a(href="/login", data-hook='loginlogout') login 
        li
          a(href="/register") register 
        li
          a(href="/info") more info
        li
          a(href="/user", data-hook='userId') 
  .container
    main(data-hook="page-container")
    footer.footer-main
